:root {

    --pink-lightest: #fff8fb;
    --pink-light: #fceaf2;
    --pink-soft: #f7d7e4;
    --pink: #efb5cb;
    --pink-dark: #c9789c;

    --cream: #fffaf4;
    --white: #ffffff;
    --beige: #f5eee7;

    --text-main: #765566;
    --text-soft: #a07f8f;

    --button-pink: #d990ad;
    --button-pink-dark: #c87899;

}
